main .breadcrumbs-container {
  margin: 0;
  border-bottom: 1px solid var(--sf-border, #e6e6e6);
}

main .breadcrumbs-container > .breadcrumbs-wrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 57px;
  max-width: 100%;
  margin: 0 0 0 16px;
  padding-left: calc((100vw - 1155px) / 2);
  padding-right: calc((100vw - 1155px) / 2);
}

main .breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

main .breadcrumbs li {
  display: flex;
  align-items: center;
  margin: 0;
}

main .breadcrumbs li:not(:first-child)::before {
  content: '';
  flex: none;
  width: 24px;
  height: 24px;
  background-image: url("../../icons/chevron_24.svg#right_default");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

main .breadcrumbs ol > li > a {
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  font-weight: 600 !important;
  color: var(--dark-gray-color);
}

main .breadcrumbs ol > li > a:hover {
  text-decoration: underline;
}

main .breadcrumbs ol > li > span {
  font-size: 14px;
  line-height: 24px;
  color: #767676;
  font-weight: 400;
}

@media (width <= 1024px) {
  main .breadcrumbs-container > .breadcrumbs-wrapper {
    margin: 0 0 0 31px;
  }

}

@media (width <= 560px) {
  main .breadcrumbs-container > .breadcrumbs-wrapper {
    margin: 0;
    padding: 0 15px;
  }

  main .breadcrumbs li {
    display: none;
  }

  main .breadcrumbs li:nth-last-child(2) {
    display: flex;
  }

  main .breadcrumbs li:nth-last-child(2)::before {
    content: '';
    flex: none;
    width: 24px;
    height: 24px;
    background-image: url("../../icons/chevron_24.svg#right_default");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: scaleX(-1);
  }
}