.columns-promo {
  width: 100%;
  max-width: 1110px;
  box-sizing: border-box;
  margin: 95px auto;
  border-radius: 4px;
  box-shadow: 0 0 3px 0 rgb(33 33 33 / 25%); 
}

.columns-promo > div {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid #acabab;
  background-color: #f7f0e4;
  align-items: start;
}

.columns-promo h2 {
  font-size: calc(var(--heading-font-size-l) + 5px);
  color: var(--link-color);
  margin-top: 0;
}

.columns-promo h4 {
  font-size: 25px;
  font-weight: 500;

  /* color: var(--text-color); */
  margin-top: 0.2em; 
  color: rgb(64 60 60); /* to match with live site */
}

.columns-promo .dropdown-select-wrapper {
  width: 256px;
  height: 48px;
  box-sizing: border-box;
  margin-top: 16px; 
  margin-inline: unset;
}

.columns-promo .dropdown-select {
  height: 100%;
  font-weight: 600;
  color: #212121; /* to match with live site */
  border-bottom: 2px solid #a8a8a8;
}

 .columns-promo .dropdown-select:focus,
 .columns-promo .dropdown-select:hover {
   background-color: #FFFAF2; /* to match with live site */
   outline: none;
 }

.columns-promo img {
  width: 100%;
}

.columns-promo > div > div {
  order: 1;
}

.columns-promo > div > div:not(.columns-promo-img-col) {
  padding: 24px;
  padding-bottom: 40px;
}

.columns-promo > div > .columns-promo-img-col {
  order: 0;
}

.columns-promo > div > .columns-promo-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns-promo > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns-promo > div > div {
    flex: 1;
    order: unset;
  }
}
