.columns-promo {
  width: 1060px;
  margin: 64px auto;
}

.columns-promo > div {
  display: flex;
  flex-direction: column;
  border: 1px solid #dadada;
  background-color: #f7f0e4;
}

.columns-promo h2 {
  color: var(--link-color);
  margin-top: 0;
}

.columns-promo h4 {
  font-size: 25px;
  font-weight: 500;
  color: var(--text-color);
}

.columns-promo .dropdown-select-wrapper {
  width: 256px;
  height: 48px;
  box-sizing: border-box;
  margin-top: 16px;
}

.columns-promo .dropdown-select {
  height: 100%;
}

.columns-promo img {
  width: 100%;
}

.columns-promo > div > div {
  order: 1;
}

.columns-promo > div > div:not(.columns-promo-img-col) {
  padding: 24px;
}

.columns-promo > div > .columns-promo-img-col {
  order: 0;
}

.columns-promo > div > .columns-promo-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns-promo > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns-promo > div > div {
    flex: 1;
    order: unset;
  }
}
